html {
  scroll-snap-type: y mandatory;
}
.galleryItem {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  scroll-snap-align: center;
  perspective: 500px;
}

.galleryItem > div {
  width: 900px;
  aspect-ratio: 2/3;
  position: relative;
  max-height: 90vh;
  background: #fff;
  overflow: hidden;
}

.galleryItem img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}
.galleryItem h2 {
  margin: 0;
  color: red;
  right: 10%;
  font-size: 56px;
  font-weight: 700;
  letter-spacing: -3px;
  line-height: 1.2;
  position: absolute;
}
.progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 5px;
  background: red;
  bottom: 100px;
}